@import url('https://fonts.googleapis.com/css2?family=Bricolage+Grotesque:opsz,wght@12..96,200..800&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

.hero {
    background-image: linear-gradient(to right, #E01A3F, #CF224E, #BF2A5D, #AD326D, #A23877);
    color: white;
    padding: 0px 0px 30px 200px;
    text-align: left; 
    height: 60vh; 
    display: flex;
    flex-direction: column;
    justify-content: center; /* Centra verticalmente */
    align-items: flex-start; /* Alinea los contenidos a la izquierda */
    font-family: "Inter";
}

.hero h1 {
    margin-bottom: 20px;
    font-weight: bold;
    font-size: 50px;
}

.hero p {
    margin-bottom: 30px;

}

.hero-buttons button {
    margin: 0 10px;
    padding: 10px 20px;
    background-color: #FFFFFF;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
    font-family: "Inter";
    font-size: 15px;
}

.hero-buttons button:hover {
    background-color: #f8f8f8;
}

.hero-buttons .nuestros-servicios {
    margin: 0 10px;
    padding: 10px 20px;
    background-color: transparent;
    border: 2px solid white;
    border-radius: 5px;
    color: white;
    cursor: pointer;
    transition: background-color 0.3s, color 0.3s;
    font-family: "Inter";
    font-size: 15px;
}

.hero-buttons .nuestros-servicios:hover {
    background-color: #FFFFFF;
    color: #E01A3F; /* Cambio de color de texto */
}

