@import url('https://fonts.googleapis.com/css2?family=Bricolage+Grotesque:opsz,wght@12..96,200..800&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');


.services {
    text-align: center;
    padding: 20px;
    background-color: #F4F4F5; /* Fondo claro para la sección */
    font-family: "Inter";
}

.services h3 {
    font-size: 20px;
}
.services h2 {
    font-size: 2em;
    color: #333;
}

.services p {
    color: #666;
    margin-bottom: 25px;
}

.service-list {
    display: flex;
    justify-content: space-around;
    padding: 30px;
}

.service {
    width: 30%; 
    padding:20px 10px 0px 20px;
    box-shadow: 0 2px 5px rgba(0,0,0,0.1); /* Sombra ligera para cada tarjeta de servicio */
    background-color: #FFFFFF;
    border-radius: 10px;
    text-align: left; /* Alinea el texto a la izquierda */
    display: flex;
    flex-direction: column;
    align-items: flex-start; /* Alinea los contenidos internos a la izquierda */
}


.icon {
    width: 60px;
    height: 60px;
    border-radius: 50%; /* Hace los iconos circulares */
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 10px;
}

.icon img {
    max-width: 50%;
    max-height: 50%;
}
