.timeline-container {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  padding: 50px;
  margin-left: 300px;
  min-height: 500px;
}

.years-column {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  gap: 20px;
  width: 20%;
}

.year {
  font-size: 20px;
  color: #333;
  cursor: pointer;
  transition: all 0.3s ease;
}

.year.active {
  font-size: 50px;
  font-weight: bold;
  color: #BD2A5E;
}

.event-details-container {
  width: 60%;
  margin-left: 50px;
  position: relative;
  overflow: hidden;
}

.event-details {
  opacity: 1;
  transition: opacity 0.5s ease;
}

.event-details.transitioning {
  opacity: 0;
}

.card {
  background-color: #fff;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  padding: 20px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.image-container {
  position: relative;
  width: 100%;
  max-width: 400px;
  height: 300px; /* Ajusta esto según el tamaño de tus imágenes */
  margin-bottom: 20px;
}

.image-container img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 10px;
  transition: opacity 0.5s ease;
}

.prev-image {
  opacity: 1;
}

.transitioning .prev-image {
  opacity: 0;
}

.current-image {
  opacity: 0;
}

.transitioning .current-image {
  opacity: 1;
}

.event-text {
  transition: opacity 0.5s ease, transform 0.5s ease;
}

.transitioning .event-text {
  opacity: 0;
  transform: translateY(20px);
}

.event-details h2 {
  font-size: 60px;
  margin-bottom: 10px;
  color: #333;
  text-align: left;
}

.event-details h3 {
  font-size: 24px;
  margin-bottom: 15px;
  color: #BD2A5E;
  text-align: left;
}

.event-details p {
  font-size: 18px;
  color: #666;
  text-align: left;
}
